body {
    font-family: "Poppins", sans-serif;
}

.bg-image {
    /* The image used */
    background-image: url("/images/background1.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;
    display: block;
    background-image: url("/images/background1.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

h1 {
    font-size: 2rem !important;
}

.page-content {
    margin-top: 100px;
}

footer {
    border-top: 1px solid #e4e4e4;
    margin-top: 150px;

    p {
        color: #979797;
    }
}

.form-control {
    background-color: #f3f3f3;
}

.fontStyleMedium {
    font: normal normal 700 16px/19px Inter;
}

.divider-border {
    border-top: 1px dashed rgba(0, 0, 0, 0.5);
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fw-500 {
    font-weight: 500;
}

.bg-custom-gradient {
    background: linear-gradient(
        90deg,
        rgba(36, 34, 59, 1) 0%,
        rgba(9, 56, 121, 0.8715861344537815) 0%,
        rgba(0, 212, 255, 0.1292892156862745) 92%
    );
}

.btn:focus,
.btn.focus {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: none !important;
    z-index: 0 !important;
}

.pointer {
    cursor: pointer;
}

.opacity-70 {
    opacity: 0.7;
}
