.page-details {
  h5 {
    color: #0c0d36;
    font-size: 18px;
    font-weight: 400;
  }

  .store-gallery {
    margin-top: 20px;

    img {
      border-radius: 10px;
    }

    .thumbnail-image {
      margin-bottom: 20px;
      border: 2px solid transparent;

      &:hover,
      &.active {
        border: 2px solid #ff7158;
      }
    }
  }

  .store-heading {
    margin-bottom: 10px;

    h1 {
      color: #0c0d36;
      font-size: 24px;
      font-weight: normal;
      line-height: 36px;
      margin-bottom: 0px;
    }

    .owner {
      color: #979797;
      font-size: 14px;
      font-style: normal;
      line-height: 21px;
      margin-bottom: 8px;
    }

    .price {
      color: #ff7158;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      margin-bottom: 10px;
    }
  }

  .store-description {
    color: #525252;
    font-size: 16px;
    font-weight: normal;
    line-height: 180%; /* 28.8px */
  }

  .store-review {
    .media {
      img {
        max-width: 50px;
      }
    }

    .media-body {
      color: #525252;
      font-size: 16px;
      font-weight: 400;
      line-height: 180%;
      margin-bottom: 20px;

      h5 {
        color: #0c0d36;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
