.page-home {
    max-width: 750px !important;
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
        -12px 0 8px -4px rgba(31, 73, 125, 0.8);

    h5 {
        font-weight: 300;
        margin-bottom: 15px;
    }

    h1 {
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        line-height: 2;
    }
    .header-title-food {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* vertical line */
    .header-title-food::after {
        content:'';
        position: absolute;
        background-color: #85C1E9;
        width: 3px;
        height: 50%;
        bottom: 0;
        right: -8px;
    
    }

    .header-title-food::before {
        content:'';
        position: absolute;
        background-color: #85C1E9;
        width: 40%;
        height: 3px;
        bottom: 0;
        right: -8px;
    }

    

    .store-trend-categories {
        margin-top: 30px;
    }

    .store-new-produt {
        margin-top: 10px;
    }

    .rate-home {
        margin-right: 0.5rem;
    }

    .info-home {
        @include media-breakpoint-down(md) {
            // flex-direction: column;
        }
    }

    .open-info {
        background: linear-gradient(90deg, rgba(36,34,59,1) 0%, rgba(9,56,121,0.8715861344537815) 0%, rgba(0,212,255,0.1292892156862745) 92%);
        border-radius: 4px;
    }

    .nav-dashboard {
        background: linear-gradient(89.5deg, rgb(104, 208, 232) 1.5%, rgb(231, 144, 245) 100.5%);
    }

    .referral-card {
        color: #fff;
        background: url("/images/refer_blue.png")
            no-repeat;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @include media-breakpoint-down(md) {
            font-size: 14px;
        }
    }
    .promo-card {
        color: #fff;
        background: url("/images/food-background.jpg") no-repeat;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @include media-breakpoint-down(md) {
            font-size: 14px;
        }
    }

    .recommended-home {
        border: 1px solid rgb(207, 68, 68);
        width: 100%;

        .dropdown {
            @include media-breakpoint-down(md) {
                height: 40px !important;
            }
        }

        .button-dropdown {
            @include media-breakpoint-down(md) {
                width: 100% !important;
            }
        }

        .arrow-button {
            margin-left: 22rem;
            @include media-breakpoint-down(md) {
                margin-left: 13rem !important;
                margin-top: -45px !important;
            }
        }
        .list-category {
            width: 500px;
            inset: 5px auto auto 5px !important;
            border: 1px solid red;
            @include media-breakpoint-down(md) {
                width: 265px !important;
                inset: -11px auto auto 3px !important;
            }
        }

        .header-dropdown-category {
            margin-left: -15px;
            @include media-breakpoint-down(md) {
                margin-left: -90px;
            }
        }
    }

    .product-sum {
        font-size: 12px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 38%;
        display: flex;
        justify-content: center;
        @include media-breakpoint-down(md) {
            width: 94%;
        }
    }
    .card-badge {
        display: inline-block;
        min-width: 2em;
        padding: 0.3em;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        background: #29a867;
        color: #fefefe;
        margin-left: -12px;
        margin-top: -13px;
    }
}

.modal-pesan {
    .checkbox-addons {
        margin-left: 0.5rem !important;
    }
    .btn-add-cart {
        @include media-breakpoint-down(md) {
            width: 150px !important;
        }
    }
    z-index: 9999;
}
